*{
    margin: 0;
    padding: 0;
    
}
.copy h3{
    text-align: center;
    color: #fff;
    position: absolute;
    bottom: 5%;
    left: 0;
    width: 100%;
    
    }
.header1{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/bgm.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
.details{
    align-items: center;
    text-align: center;
    z-index: 100;
    display: block;

}
.details p{
    width: 100%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    z-index: 2;
    font-size: 25px;
} 
nav{
    display: flex;
    padding: 2% 4%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links-comp{
    flex: 1;
    text-align: right;
    z-index: 3;
    
}
.nav-links-comp ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links-comp ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}
.nav-links-comp ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #FF8C00;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links-comp ul li:hover::after{
    width: 100%;

}
.text-box-contacts{
    text-decoration: none;
    list-style: none;
}

.text-box-contacts h2{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 15%;
    left: 25%;
    transform: translate(-50%,-50%);
    text-align: center;
    z-index: 2;
    font-size: 70px;

}


nav.fa{
    display: none;
}


.back-pick{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.back-pick img {
    position: relative;
    width: 100%;
    height: 75vh;
    opacity: 0.5;
    z-index: -4;
   
}
.dropdown_menu_comp{
    display: none;
    text-decoration: none;
}
.toggle_btn{
    display: none;
}
.hero-btn-comp{
    top: 40%;
    left: 5%;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 20px;
    background: transparent;
    position: absolute;
    cursor: pointer;
}
.hero-btn-comp:hover{
    border: 1px solid #FF8C00;
    background: #000000;
    transition: 0.75s;

}
.hero-btn-comp1{
    top: 40%;
    left: 28%;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 20px;
    background: transparent;
    position: absolute;
    cursor: pointer;
    z-index: 3;
}
.hero-btn-comp1:hover{
    border: 1px solid #FF8C00;
    background: #000000;
    transition: 0.75s;

}
.hero-btn-comp2{
    top: 50%;
    left: 5%;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 20px;
    background: transparent;
    position: absolute;
    cursor: pointer;
    z-index: 3;
}
.hero-btn-comp2:hover{
    border: 1px solid #FF8C00;
    background: #000000;
    transition: 0.75s;

}
.toggle_btn_comp{
    display: none
}



@media(max-width: 992px){
    .back-pick img{
        height: 50%;
        left: 0;
    }
    .nav-links-comp,
    .hero-btn-comp{
        display: none;
    }
    .toggle_btn_comp{
        color: #fff;
        font-size: 3rem;
        cursor: pointer;
        display: block;
        background-color: #FF8C00;
        color: #fff;
        padding: 0.5rem 1rem;
        border: none;
        outline: none;
        border-radius: 20px;
        font-weight: bold;
    }

    .dropdown_menu_comp{
        text-align: left;
        display: block;
        position: absolute;
        right: 2rem;
        height: 0;
        top: 180px;
        width: 400px;
        background: rgba(255,255,255,0.1);
        backdrop-filter: blur(5px);
        border-radius: 10px;
        overflow: hidden;
        transition: height 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        
        
    }
    .dropdown_menu_comp.open{
        height: 500px;
    }
        
 
    .dropdown_menu_comp li{
        padding: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        
        
    }
    li{
        list-style: none;

    }
    a{
        text-decoration: none;
        color: #fff;
        font-size: 2.5rem;

    }
    a:hover{
        color: #FF8C00;
        transition: 0.5s;
    }
    nav{
        display: flex;
        padding: 6% 6%;
        justify-content: space-between;
        align-items: center;
    }
    .text-box h2{
        font-size: 70px;
    
    }
    .text-box-comp p2{
        top: 20%;
        position: absolute;
        margin: 10px 0 40px;
        font-size: 50px;
        color: #FF8C00;
        left: 5%;

    }
    .text-box-comp h2{
        width: 90%;
        color: #fff;
        position: absolute;
        top: 15%;
        left: 28%;
        transform: translate(-50%,-50%);
        text-align: center;
        z-index: 2;

    }
    .hero-btn-comp{
        top: 25%;
        left: 5%;
        display: inline-block;
        text-decoration: none;
        color: #fff;
        border: 1px solid #fff;
        padding: 12px 34px;
        font-size: 40px;
        background: transparent;
        position: absolute;
        cursor: pointer;
    }
    .hero-btn-comp1{
        top: 30%;
        left: 5%;
        display: inline-block;
        text-decoration: none;
        color: #fff;
        border: 1px solid #fff;
        padding: 12px 34px;
        font-size: 40px;
        background: transparent;
        position: absolute;
        cursor: pointer;
    }
        .hero-btn-comp2{
        top: 35%;
        left: 5%;
        display: inline-block;
        text-decoration: none;
        color: #fff;
        border: 1px solid #fff;
        padding: 12px 34px;
        font-size: 40px;
        background: transparent;
        position: absolute;
        cursor: pointer;
    }
    
}










































